/* Color Theme Swatches in Hex */
.Design-de-jogos-1-hex { color: #283D59; }
.Design-de-jogos-2-hex { color: #535922; }
.Design-de-jogos-3-hex { color: #F2EA77; }
.Design-de-jogos-4-hex { color: #F2EEB6; }
.Design-de-jogos-5-hex { color: #D9C14A; }

html { 
    background: #F2EEB6;;
    color:#2a5a99;
}

